.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 1s linear 2s;
  /* made the correction, but not sure if it's still needed without need to chage opacity(?) */
}

.footer__social-link:hover {
  color: #c1c1c1;
  /* according to the berief I was assgined this is correct, and chaging the opacity was for the form__button. Please refer to this copy of the breif I was given, page 13 #3: https://practicum-content.s3.us-west-1.amazonaws.com/web-developer/project-2/project-2-stage-4-brief-before-redesign-07-2024.pdf */
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
