.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  transition: background-color 1s linear 2s;
  /* made the correction, but not sure if it's still needed without need to chage opacity(?) */
}

.nav__link:hover {
  color: #2f80ed;
  /* according to the berief I was assgined this is correct, and chaging the opacity was for the form__button. Please refer to this copy of the breif I was given, page 13 #1: https://practicum-content.s3.us-west-1.amazonaws.com/web-developer/project-2/project-2-stage-4-brief-before-redesign-07-2024.pdf */
}
